### Content Based Recommendation System

In [1]:
import pandas as pd

df = pd.read_csv('2 - movies_metadata - Content based Recommendation.csv')

In [2]:
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",http://www.womenartrevolution.com/,55245,tt1699720,en,!Women Art Revolution,"Through intimate interviews, provocative art, ...",...,01-01-2010,0,83.0,[],Released,40 years in the making!,!Women Art Revolution,False,4.3,2
1,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,41371,tt1637976,en,#1 Cheerleader Camp,A pair of horny college guys get summer jobs a...,...,27-07-2010,0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Grab your spirit sticks!,#1 Cheerleader Camp,False,3.4,23
2,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",http://www.chicagogirlfilm.com/,267752,tt3060338,en,#chicagoGirl,From her childhood bedroom in the Chicago subu...,...,21-11-2013,0,74.0,[],Released,The Social Network Takes on a Dictator,#chicagoGirl,False,7.0,1
3,False,NaN,1500000,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",http://www.hashtaghorror.com/,301325,tt3526286,de,#Horror,"Inspired by actual events, a group of 12 year ...",...,20-11-2015,0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Death is trending.,#Horror,False,3.4,53
4,False,NaN,0,"[{'id': 37, 'name': 'Western'}]",NaN,143747,tt0060697,it,Mille dollari sul nero,Johnny Liston has just been released from pris...,...,18-12-1966,0,104.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}, {'is...",Released,NaN,"$1,000 on the Black",False,6.0,2
5,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 37, 'name...",NaN,158079,tt0060937,it,Centomila dollari per Ringo,A stranger rides into Rainbow Valley where he'...,...,18-11-1965,0,98.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,"$100,000 for Ringo",False,5.0,1
6,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,4204,tt1024733,en,$5 a Day,"After being released from jail, the son of a c...",...,01-01-2008,0,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Relationships don't come cheap!,$5 a Day,False,6.0,24
7,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,248268,tt2106284,en,$50K and a Call Girl: A Love Story,When Ross is diagnosed with terminal brain can...,...,10-01-2014,0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,$50K and a Call Girl: A Love Story,False,6.3,11
8,False,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 18, '...",http://www.9dollars99movie.com/,19311,tt0790799,en,$9.99,"Have you ever wondered ""What is the meaning of...",...,04-09-2008,0,78.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,$9.99,False,6.0,28
9,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,95383,tt2258233,en,$ellebrity,Fame today is more than an obsession. Fame has...,...,11-01-2013,0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,$ellebrity,False,5.5,9
10,False,NaN,7500000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",http://500days.com,19913,tt1022603,en,(500) Days of Summer,"Tom (Joseph Gordon-Levitt), greeting-card writ...",...,17-07-2009,60722734,95.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,It was almost like falling in love.,(500) Days of Summer,False,7.2,2993
11,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,147923,tt1811293,en,(A)Sexual,"Facing a sex obsessed culture, a mountain of s...",...,01-01-2011,0,75.0,[],Released,NaN,(A)Sexual,False,5.7,6
12,False,NaN,0,[],NaN,292445,tt2316325,en,(Entlastungen) Pipilottis Fehler,Precisely edited to the start-stop rhythm of a...,...,13-01-1988,0,11.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,(Absolutions) Pipilotti's Mistakes,False,0.0,0
13,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,329750,tt2630898,en,(Dis)Honesty: The Truth About Lies,A documentary about why people lie. Includes p...,...,22-05-2015,0,90.0,[],Released,NaN,(Dis)Honesty: The Truth About Lies,False,6.8,21
14,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 99, 'n...",NaN,318972,tt4370922,en,(T)ERROR,After working for more than 20 years as a coun...,...,24-01-2015,0,93.0,[],Released,Under Cover. Under Threat.,(T)ERROR,False,6.8,12
15,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,45261,tt1132193,en,(Untitled),A fashionable contemporary art gallerist in Ch...,...,25-10-2009,230600,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Everyone's got an opinion.,(Untitled),False,6.6,16
16,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,30709,tt0081964,en,...All the Marbles,A two-bit promoter tries to take a women's wre...,...,16-10-1981,0,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The California Dolls and their best friend Har...,...All the Marbles,False,7.3,7
17,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,8420,tt0049189,fr,Et Dieu… créa la femme,"Juliette Hardy is sexual dynamite, and has the...",...,28-11-1956,0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,...but the devil invented Brigitte Bardot!,...And God Created Woman,False,6.2,43
18,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,17443,tt0078718,en,...And Justice for All,An ethical Baltimore defense lawyer disgusted ...,...,19-10-1979,33300000,119.0,"[{'iso_639_1': 'cs', 'name': 'Český'}, {'iso_6...",Released,NaN,...And Justice for All,False,7.1,118
19,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,114033,tt0092561,en,...And the Pursuit of Happiness,"In 1986, Louis Malle, himself a transplant to ...",...,01-01-1986,0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,...And the Pursuit of Happiness,False,8.3,3
20,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,297745,tt4129900,it,...E fuori nevica!,NaN,...,16-10-2014,0,0.0,[],Released,NaN,...E fuori nevica!,False,5.7,26
21,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,41091,tt0381838,ko,...ing,Follows the life of a young woman (Min-ah) who...,...,28-11-2003,0,104.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,The Happiest Time of My Life,...ing,False,6.6,17
22,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,85255,tt0065360,en,...tick... tick... tick...,Racial tensions threaten to explode when a bla...,...,09-01-1970,0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Two men with nothing in common but the hate th...,...tick... tick... tick...,False,6.2,7
23,False,NaN,0,[],NaN,93734,tt0371501,en,.hack Liminality: In the Case of Mai Minase,In the first volume of the .hack//Liminality s...,...,NaN,0,45.0,[],Released,NaN,.hack Liminality: In the Case of Mai Minase,False,0.0,1
24,False,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 53, '...",NaN,72478,tt1808454,pl,Sala samobójców,Dominik is an ordinary boy. He's got loads of ...,...,04-03-2011,0,110.0,"[{'iso_639_1': 'pl', 'name': 'Polski'}]",Released,Where fantasy and reality meet.,@Suicide Room,False,7.7,113
25,False,"{'id': 74508, 'name': '[REC] Collection', 'pos...",1500000,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",http://www.3l-filmverleih.de/rec,8329,tt1038988,es,[REC],A television reporter and cameraman follow eme...,...,10-04-2007,30448000,78.0,"[{'iso_639_1': 'ja', 'name': '日本語'}, {'iso_639...",Released,One witness. One camera,[REC],False,7.1,954
26,False,"{'id': 74508, 'name': '[REC] Collection', 'pos...",0,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",http://rec4apocalipsis.com/,185341,tt1649443,es,[REC] 4: Apocalipsis,Ángela Vidal the young television reporter who...,...,09-09-2014,190000,95.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,It's time to leave.,[REC]⁴ Apocalypse,False,5.2,269
27,False,"{'id': 74508, 'name': '[REC] Collection', 'pos...",5600000,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",http://www.rec2themovie.com/,10664,tt1245112,es,[REC]²,"The action continues from [REC], with the medi...",...,15-09-2009,18469680,85.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,Fear Revisited,[REC]²,False,6.5,496
28,False,"{'id': 74508, 'name': '[REC] Collection', 'pos...",0,"[{'id': 27, 'name': 'Horror'}]",http://www.magnetreleasing.com/rec3/,80280,tt1649444,es,[REC]³ Génesis,The action now takes place miles away from the...,...,30-03-2012,10158000,80.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You may kiss the bride.,[REC]³ Genesis,False,4.9,360
29,False,"{'id': 265709, 'name': '00 Schneider Filmreihe...",0,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,1652,tt0109000,de,00 Schneider - Jagd auf Nihil Baxter,The funny clown Bratislav Metulskie is found d...,...,21-12-1994,0,92.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,Verbrechen lohnt sich wieder,00 Schneider - Jagd auf Nihil Baxter,False,6.5,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45350,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,122709,tt0024800,en,Zoo in Budapest,Zani is an unusual young man who has spent his...,...,28-04-1933,0,94.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Zoo in Budapest,False,4.5,2
45351,False,NaN,80000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.zookeeper-movie.com/,38317,tt1222817,en,Zookeeper,A comedy about a zookeeper who might be great ...,...,06-07-2011,169852759,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Welcome to his jungle.,Zookeeper,False,5.3,509
45352,False,"{'id': 352789, 'name': 'Zoolander Collection',...",28000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,9398,tt0196229,en,Zoolander,"Clear the runway for Derek Zoolander, VH1's th...",...,28-09-2001,60780981,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,3% Body Fat. 1% Brain Activity.,Zoolander,False,6.1,1363
45353,False,"{'id': 352789, 'name': 'Zoolander Collection',...",50000000,"[{'id': 35, 'name': 'Comedy'}]",http://www.zoolander.com/,329833,tt1608290,en,Zoolander 2,Derek and Hansel are modelling again when an o...,...,06-02-2016,55969000,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Long time no Z,Zoolander 2,False,4.7,814
45354,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,405670,tt5133392,ru,Зоология,"Natasha is a lonely, middle-aged admin employe...",...,24-11-2016,0,87.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,It's Never Too Late To Grow A Tail,Zoology,False,7.0,7
45355,False,NaN,35000000,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",NaN,14113,tt0383060,en,Zoom,Jack Shepard is an out-of-shape auto shop owne...,...,11-08-2006,12506188,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They're going to save the world... as long as ...,Zoom,False,4.9,140
45356,False,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,351065,tt3763866,en,Zoom,A multi-dimensional interface between a comic ...,...,11-09-2015,0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Zoom,False,5.7,25
45357,False,NaN,0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,385320,tt5340882,en,Zoombies,When a strange virus quickly spreads through a...,...,29-04-2016,0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"Uncaged, Undead",Zoombies,False,3.9,32
45358,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,76397,tt0083365,en,Zoot Suit,"Part fact and part fiction, Zoot Suit is the f...",...,02-10-1981,0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,An american original.,Zoot Suit,False,6.9,4
45359,False,NaN,150000000,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",http://movies.disney.com/zootopia,269149,tt2948356,en,Zootopia,"Determined to prove herself, Officer Judy Hopp...",...,11-02-2016,1023784195,108.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Welcome to the urban jungle.,Zootopia,False,7.7,4961
45360,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,231565,tt3078718,it,"Zoran, il mio nipote scemo",NaN,...,31-10-2013,0,0.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,"Zoran, il mio nipote scemo",False,6.6,9
45361,False,NaN,783000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,10604,tt0057831,el,Αλέξης Ζορμπάς,An uptight English writer traveling to Crete o...,...,14-12-1964,0,142.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Life. Lust. Love. Zorba.,Zorba the Greek,False,7.0,55
45362,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,88276,tt0131149,en,Zorns Lemma,Zorns Lemma is a 1970 American structural expe...,...,01-01-1970,0,60.0,[],Released,NaN,Zorns Lemma,False,7.0,5
45363,False,"{'id': 1657, 'name': 'Zorro Collection', 'post...",0,"[{'id': 37, 'name': 'Western'}, {'id': 35, 'na...",NaN,18450,tt0072448,fr,Zorro,A newly arrived governor finds his province un...,...,06-03-1975,0,124.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,Zorro is back!,Zorro,False,7.0,17
45364,False,NaN,0,"[{'id': 37, 'name': 'Western'}, {'id': 28, 'na...",NaN,19317,tt0083366,en,"Zorro, The Gay Blade",George Hamilton stars in a dueling dual role a...,...,17-07-1981,0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Zexy, Zany, Zensational !","Zorro, The Gay Blade",False,5.4,15
45365,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,74924,tt0056725,en,Zotz!,"Jonathan Jones, a professor of ancient languag...",...,03-10-1962,0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Zay It, Zee It and Zoon!",Zotz!,False,6.5,2
45366,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,43603,tt0026023,en,Zouzou,Zou Zou tries to help her childhood friend pro...,...,21-12-1934,0,92.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Rumored,NaN,Zouzou,False,5.0,1
45367,False,NaN,5600000,"[{'id': 18, 'name': 'Drama'}]",NaN,49220,tt0448267,sv,Zozo,A Lebanese boy gets separated from his family ...,...,05-08-2005,0,105.0,"[{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso...",Released,NaN,Zozo,False,5.4,7
45368,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,74922,tt0385363,pl,Zróbmy sobie wnuka,NaN,...,10-10-2003,0,NaN,"[{'iso_639_1': 'pl', 'name': 'Polski'}]",Released,NaN,Zróbmy sobie wnuka,False,5.4,5
45369,False,"{'id': 385721, 'name': 'Zu Warriors Collection...",0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,38155,tt0086308,cn,Zu: The Warriors from the Magic Mountain,"In the fifth century, constant civil war scars...",...,05-02-1983,0,95.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,NaN,Zu: Warriors from the Magic Mountain,False,6.6,14
45370,False,"{'id': 374386, 'name': 'Anglo-Zulu War Collect...",3500000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,14433,tt0058777,en,Zulu,"In 1879, during the Zulu wars, man of the peop...",...,22-01-1964,8000000,138.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Dwarfing the mightiest! Towering over the grea...,Zulu,False,7.4,137
45371,False,NaN,16000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,185567,tt2249221,en,Zulu,"As a child, Ali Neuman narrowly escaped being ...",...,04-12-2013,0,110.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Zulu,False,6.7,176
45372,False,"{'id': 374386, 'name': 'Anglo-Zulu War Collect...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,18061,tt0080180,en,Zulu Dawn,"In 1879, the British suffer a great loss at th...",...,14-05-1979,0,117.0,"[{'iso_639_1': 'zu', 'name': 'isiZulu'}, {'iso...",Released,The sun dawned bloodied...two great armies met...,Zulu Dawn,False,5.6,35
45373,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,319513,tt3257638,nl,Zurich,"Zurich is a musical roadmovie about Nina, who ...",...,19-02-2015,0,89.0,"[{'iso_639_1': 'nl', 'name': 'Nederlands'}]",Released,NaN,Zurich,False,6.3,8
45374,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,16539,tt0245157,nl,Zus & zo,Zus &amp; Zo shows what three sisters are will...,...,01-01-2001,0,106.0,"[{'iso_639_1': 'nl', 'name': 'Nederlands'}, {'...",Released,NaN,Zus & Zo,False,6.3,4
45375,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",http://wwws.br.warnerbros.com/zuzuangel/,73169,tt0481254,en,Zuzu Angel,"""Zuzu Angel"" covers the last years of the famo...",...,04-08-2006,0,108.0,"[{'iso_639_1': 'pt', 'name': 'Português'}]",Released,NaN,Zuzu Angel,False,6.5,10
45376,False,"{'id': 441443, 'name': 'Ukraine Trilogy', 'pos...",0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,82088,tt0019611,uk,Звeнигopа,"Zvenigora stars Nikolai Nademsky (Earth), as t...",...,13-04-1928,0,90.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Zvenigora,False,7.8,6
45377,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",https://www.youtube.com/watch?v=pKWB-MVJ4sQ,464111,tt7078780,en,Zygote,"Stranded in an Arctic mine, two survivors are ...",...,12-07-2017,0,23.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Zygote,False,7.2,28
45378,False,NaN,2000000,"[{'id': 53, 'name': 'Thriller'}]",NaN,41393,tt0429277,en,Zyzzyx Road,A married man (Leo Grillo) meets a beautiful w...,...,25-02-2006,30,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Dead Ahead,Zyzzyx Road,False,4.0,4
45379,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,11193,tt0397693,en,TRUE,"The phone rings, startling Tomas, who is seate...",...,06-02-2004,0,10.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,TRUE,False,6.0,13

In [3]:
df['tagline'].fillna('')
df['description'] = df['overview'] + df['tagline'] #new col called description to use in Bow
# df['description'] = df['description'].fillna('')

In [4]:
df.shape

(45380, 25)

In [5]:
df.dropna(subset=['title'], inplace=True)
df.dropna(subset=['description'], inplace=True)
df['title'].drop_duplicates(inplace=True)

In [6]:
df.shape

(20363, 25)

In [7]:
df.reset_index()

,index,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,description
0,0,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",http://www.womenartrevolution.com/,55245,tt1699720,en,!Women Art Revolution,...,0,83.0,[],Released,40 years in the making!,!Women Art Revolution,False,4.3,2,"Through intimate interviews, provocative art, ..."
1,1,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,41371,tt1637976,en,#1 Cheerleader Camp,...,0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Grab your spirit sticks!,#1 Cheerleader Camp,False,3.4,23,A pair of horny college guys get summer jobs a...
2,2,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",http://www.chicagogirlfilm.com/,267752,tt3060338,en,#chicagoGirl,...,0,74.0,[],Released,The Social Network Takes on a Dictator,#chicagoGirl,False,7.0,1,From her childhood bedroom in the Chicago subu...
3,3,False,NaN,1500000,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",http://www.hashtaghorror.com/,301325,tt3526286,de,#Horror,...,0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Death is trending.,#Horror,False,3.4,53,"Inspired by actual events, a group of 12 year ..."
4,6,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,4204,tt1024733,en,$5 a Day,...,0,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Relationships don't come cheap!,$5 a Day,False,6.0,24,"After being released from jail, the son of a c..."
5,10,False,NaN,7500000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",http://500days.com,19913,tt1022603,en,(500) Days of Summer,...,60722734,95.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,It was almost like falling in love.,(500) Days of Summer,False,7.2,2993,"Tom (Joseph Gordon-Levitt), greeting-card writ..."
6,14,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 99, 'n...",NaN,318972,tt4370922,en,(T)ERROR,...,0,93.0,[],Released,Under Cover. Under Threat.,(T)ERROR,False,6.8,12,After working for more than 20 years as a coun...
7,15,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,45261,tt1132193,en,(Untitled),...,230600,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Everyone's got an opinion.,(Untitled),False,6.6,16,A fashionable contemporary art gallerist in Ch...
8,16,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,30709,tt0081964,en,...All the Marbles,...,0,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The California Dolls and their best friend Har...,...All the Marbles,False,7.3,7,A two-bit promoter tries to take a women's wre...
9,17,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,8420,tt0049189,fr,Et Dieu… créa la femme,...,0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,...but the devil invented Brigitte Bardot!,...And God Created Woman,False,6.2,43,"Juliette Hardy is sexual dynamite, and has the..."
10,21,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,41091,tt0381838,ko,...ing,...,0,104.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,The Happiest Time of My Life,...ing,False,6.6,17,Follows the life of a young woman (Min-ah) who...
11,22,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,85255,tt0065360,en,...tick... tick... tick...,...,0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Two men with nothing in common but the hate th...,...tick... tick... tick...,False,6.2,7,Racial tensions threaten to explode when a bla...
12,24,False,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 53, '...",NaN,72478,tt1808454,pl,Sala samobójców,...,0,110.0,"[{'iso_639_1': 'pl', 'name': 'Polski'}]",Released,Where fantasy and reality meet.,@Suicide Room,False,7.7,113,Dominik is an ordinary boy. He's got loads of ...
13,25,False,"{'id': 74508, 'name': '[REC] Collection', 'pos...",1500000,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",http://www.3l-filmverleih.de/rec,8329,tt1038988,es,[REC],...,30448000,78.0,"[{'iso_639_1': 'ja', 'name': '日本語'}, {'iso_639...",Released,One witness. One camera,[REC],False,7.1,954,A television reporter and cameraman follow eme...
14,26,False,"{'id': 74508, 'name': '[REC] Collection', 'pos...",0,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",http://rec4apocalipsis.com/,185341,tt1649443,es,[REC] 4: Apocalipsis,...,190000,95.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,It's time to leave.,[REC]⁴ Apocalypse,False,5.2,269,Ángela Vidal the young television reporter who...
15,27,False,"{'id': 74508, 'name': '[REC] Collection', 'pos...",5600000,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",http://www.rec2themovie.com/,10664,tt1245112,es,[REC]²,...,18469680,85.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,Fear Revisited,[REC]²,False,6.5,496,"The action continues from [REC], with the medi..."
16,28,False,"{'id': 74508, 'name': '[REC] Collection', 'pos...",0,"[{'id': 27, 'name': 'Horror'}]",http://www.magnetreleasing.com/rec3/,80280,tt1649444,es,[REC]³ Génesis,...,10158000,80.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You may kiss the bride.,[REC]³ Genesis,False,4.9,360,The action now takes place miles away from the...
17,29,False,"{'id': 265709, 'name': '00 Schneider Filmreihe...",0,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,1652,tt0109000,de,00 Schneider - Jagd auf Nihil Baxter,...,0,92.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,Verbrechen lohnt sich wieder,00 Schneider - Jagd auf Nihil Baxter,False,6.5,16,The funny clown Bratislav Metulskie is found d...
18,32,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",NaN,259300,tt3008816,ja,009ノ1（ゼロゼロクノイチ） THE END OF THE BEGINNING,...,0,82.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,She was forced to become the perfect killing m...,009-1: The End of the Beginning,False,3.5,3,"Marking the 75th anniversary of his birth, Sho..."
19,36,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,342472,tt2184233,en,1 Mile to You,...,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Run with your heart.,1 Mile to You,False,6.7,29,"After a teenager's friends die in an accident,..."
20,37,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://level33entertainment.com/1_Night.html,416691,tt4126694,en,1 Night,...,0,76.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Love can happen at any time.,1 Night,False,6.2,30,Thirty-something Elizabeth must decide whether...
21,43,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,346592,tt2134170,en,10 Cent Pistol,...,0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Never try to outsmart a wiseguy.,10 Cent Pistol,False,4.4,7,A story about two lifelong criminals who maneu...
22,44,False,NaN,15000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 878, '...",http://www.10cloverfieldlane.com/,333371,tt1179933,en,10 Cloverfield Lane,...,108286421,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Monsters come in many forms.,10 Cloverfield Lane,False,6.8,2537,"After a car accident, Michelle awakens to find..."
23,46,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,2357,tt0499603,en,10 Items or Less,...,580527,81.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Sometimes in life you have to change lanes.,10 Items or Less,False,6.6,50,An actor who is considering the role of a supe...
24,52,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,216138,tt1993391,en,10 Rules for Sleeping Around,...,0,94.0,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso...",Released,Now it's our turn.,10 Rules for Sleeping Around,False,3.9,23,"By following ten simple rules, 20-somethings ..."
25,53,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,4951,tt0147800,en,10 Things I Hate About You,...,53478166,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,How do I loathe thee? Let me count the ways.,10 Things I Hate About You,False,7.3,1768,"Bianca, a tenth grader, has never gone on a da..."
26,54,False,NaN,4520000,"[{'id': 27, 'name': 'Horror'}, {'id': 80, 'nam...",NaN,18587,tt0085121,en,10 to Midnight,...,7175592,101.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A cop... A killer... A deadline.,10 to Midnight,False,6.1,37,"Based on the real-life Richard Speck murders, ..."
27,55,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,58547,tt1715873,en,10 Years,...,201146,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Who Got Fat? Who Didn't Change? Who Got Rich? ...,10 Years,False,5.7,161,A group of friends reunite ten years after the...
28,57,False,NaN,105000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",NaN,7840,tt0443649,en,"10,000 BC",...,266000000,109.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The legend. The battle. The first hero.,"10,000 BC",False,5.1,934,A prehistoric epic that follows a young mammot...
29,62,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 12, 'name...",NaN,302666,tt3488056,en,10.0 Earthquake,...,0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The end is near.,10.0 Earthquake,False,4.3,28,Los Angeles is about to be hit by a devastatin...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20333,45328,False,NaN,0,"[{'id': 27, 'name': 'Horror'}]",NaN,22130,tt0081027,fr,Le lac des morts vivants,...,0,87.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,God help us if they rise again!,Zombie Lake,False,3.2,18,"In a small village, somewhere in France, Germa..."
20334,45329,False,NaN,1000000,"[{'id': 27, 'name': 'Horror'}]",NaN,219247,tt2978716,en,Zombie Night,...,0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Tonight, at sundown... the dead will rise again",Zombie Night,False,3.4,20,Zombies come out at night and two families mus...
20335,45331,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...",NaN,364153,tt3397948,en,Zombie Ninjas vs Black Ops,...,0,94.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"What doesn't kill you, will try and try again.",Zombie Ninjas vs Black Ops,False,0.0,0,In the clandestine research tower of a ruthles...
20336,45332,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 35, 'nam...",https://www.facebook.com/zombiepizza.themovie/,434661,tt3793632,en,Zombie Pizza,...,0,94.0,[],Released,Pizza. Anytime. Anywhere.,Zombie Pizza,False,9.3,2,"After losing his father, a teenage boy decides..."
20337,45333,False,NaN,0,"[{'id': 27, 'name': 'Horror'}]",NaN,128264,tt1462677,en,Zombie Reanimation,...,0,86.0,[],Released,You cant kill what is dead,Zombie Reanimation,False,2.0,1,It all started with the first Zombie infection...
20338,45334,False,NaN,0,"[{'id': 27, 'name': 'Horror'}]",http://www.charmed-apocalypse.com/,332488,tt2267454,en,Zombie Resurrection,...,0,79.0,[],Released,Prey for salvation,Zombie Resurrection,False,4.4,6,"15 months after the apocalypse, a group of sur..."
20339,45335,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,13009,tt0960890,en,Zombie Strippers!,...,0,94.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Live Dead Nudes,Zombie Strippers!,False,4.3,80,In the not too distant future a secret governm...
20340,45336,False,NaN,0,"[{'id': 27, 'name': 'Horror'}]",http://www.zombieundead.com/,65871,tt1581839,en,Zombie Undead,...,0,79.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Prepare for a new breed,Zombie Undead,False,2.0,3,A car roars through the darkened country roads...
20341,45338,False,NaN,23600000,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",http://www.zombieland.com/,19908,tt1156398,en,Zombieland,...,102391382,88.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,This place is so dead,Zombieland,False,7.2,3655,Columbus has made a habit of running from what...
20342,45339,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,38120,tt0051226,en,Zombies of Mora Tau,...,0,70.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Zombies of the African Voodoo coast!,Zombies of Mora Tau,False,5.8,7,"American tycoon George Harrison, his beautiful..."
20343,45340,False,NaN,0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,118636,tt0045352,en,Zombies of the Stratosphere,...,0,167.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,YOU'LL SAY...AMAZING!...STARTLING!...UNBELIEVE...,Zombies of the Stratosphere,False,4.5,2,Martians come to Earth to build an H-bomb stro...
20344,45341,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,30183,tt0038270,en,Zombies on Broadway,...,0,69.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Hee! Hee! What ghoulish glee!,Zombies on Broadway,False,4.7,6,Hiring real zombies for a broadway show proves...
20345,45343,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...",NaN,105989,tt1043585,en,Zombi: La creazione,...,0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"When the dead first walked, they had no time f...",Zombies: The Beginning,False,6.0,2,A woman floating on a raft in the middle of th...
20346,45344,False,NaN,0,"[{'id': 27, 'name': 'Horror'}]",http://www.zombieworldmovie.com,319396,tt3717324,en,Zombieworld,...,0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The end is HERE!,Zombieworld,False,5.2,8,There is nowhere to hide...nowhere to run...th...
20347,45348,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,17790,tt0092298,en,Zone Troopers,...,0,86.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,They Take War To A New Dimension.,Zone Troopers,False,3.6,10,"American soldiers, led by The Sarge, are stuck..."
20348,45351,False,NaN,80000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.zookeeper-movie.com/,38317,tt1222817,en,Zookeeper,...,169852759,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Welcome to his jungle.,Zookeeper,False,5.3,509,A comedy about a zookeeper who might be great ...
20349,45352,False,"{'id': 352789, 'name': 'Zoolander Collection',...",28000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,9398,tt0196229,en,Zoolander,...,60780981,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,3% Body Fat. 1% Brain Activity.,Zoolander,False,6.1,1363,"Clear the runway for Derek Zoolander, VH1's th..."
20350,45353,False,"{'id': 352789, 'name': 'Zoolander Collection',...",50000000,"[{'id': 35, 'name': 'Comedy'}]",http://www.zoolander.com/,329833,tt1608290,en,Zoolander 2,...,55969000,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Long time no Z,Zoolander 2,False,4.7,814,Derek and Hansel are modelling again when an o...
20351,45354,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,405670,tt5133392,ru,Зоология,...,0,87.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,It's Never Too Late To Grow A Tail,Zoology,False,7.0,7,"Natasha is a lonely, middle-aged admin employe..."
20352,45355,False,NaN,35000000,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",NaN,14113,tt0383060,en,Zoom,...,12506188,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They're going to save the world... as long as ...,Zoom,False,4.9,140,Jack Shepard is an out-of-shape auto shop owne...
20353,45357,False,NaN,0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,385320,tt5340882,en,Zoombies,...,0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"Uncaged, Undead",Zoombies,False,3.9,32,When a strange virus quickly spreads through a...
20354,45358,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,76397,tt0083365,en,Zoot Suit,...,0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,An american original.,Zoot Suit,False,6.9,4,"Part fact and part fiction, Zoot Suit is the f..."
20355,45359,False,NaN,150000000,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",http://movies.disney.com/zootopia,269149,tt2948356,en,Zootopia,...,1023784195,108.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Welcome to the urban jungle.,Zootopia,False,7.7,4961,"Determined to prove herself, Officer Judy Hopp..."
20356,45361,False,NaN,783000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,10604,tt0057831,el,Αλέξης Ζορμπάς,...,0,142.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Life. Lust. Love. Zorba.,Zorba the Greek,False,7.0,55,An uptight English writer traveling to Crete o...
20357,45363,False,"{'id': 1657, 'name': 'Zorro Collection', 'post...",0,"[{'id': 37, 'name': 'Western'}, {'id': 35, 'na...",NaN,18450,tt0072448,fr,Zorro,...,0,124.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,Zorro is back!,Zorro,False,7.0,17,A newly arrived governor finds his province un...
20358,45364,False,NaN,0,"[{'id': 37, 'name': 'Western'}, {'id': 28, 'na...",NaN,19317,tt0083366,en,"Zorro, The Gay Blade",...,0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Zexy, Zany, Zensational !","Zorro, The Gay Blade",False,5.4,15,George Hamilton stars in a dueling dual role a...
20359,45365,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,74924,tt0056725,en,Zotz!,...,0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Zay It, Zee It and Zoon!",Zotz!,False,6.5,2,"Jonathan Jones, a professor of ancient languag..."
20360,45370,False,"{'id': 374386, 'name': 'Anglo-Zulu War Collect...",3500000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,14433,tt0058777,en,Zulu,...,8000000,138.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Dwarfing the mightiest! Towering over the grea...,Zulu,False,7.4,137,"In 1879, during the Zulu wars, man of the peop..."
20361,45372,False,"{'id': 374386, 'name': 'Anglo-Zulu War Collect...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,18061,tt0080180,en,Zulu Dawn,...,0,117.0,"[{'iso_639_1': 'zu', 'name': 'isiZulu'}, {'iso...",Released,The sun dawned bloodied...two great armies met...,Zulu Dawn,False,5.6,35,"In 1879, the British suffer a great loss at th..."
20362,45378,False,NaN,2000000,"[{'id': 53, 'name': 'Thriller'}]",NaN,41393,tt0429277,en,Zyzzyx Road,...,30,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Dead Ahead,Zyzzyx Road,False,4.0,4,A married man (Leo Grillo) meets a beautiful w...

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer

tf = TfidfVectorizer(analyzer='word', ngram_range=(1, 3), min_df=2, stop_words='english') #analyzer=alphabet every alphabet becomes a unique col
tfidf_matrix = tf.fit_transform(df['description'])
print(tfidf_matrix)

  (0, 81214)	0.18315759347854774
  (0, 629)	0.16860568912453308
  (0, 3934)	0.20622181619374183
  (0, 18900)	0.20622181619374183
  (0, 19336)	0.1916699118397272
  (0, 24890)	0.16439281652125734
  (0, 76857)	0.20622181619374183
  (0, 25697)	0.20622181619374183
  (0, 36392)	0.20622181619374183
  (0, 44898)	0.10760383289989255
  (0, 81109)	0.07653682672230798
  (0, 623)	0.14039537526974083
  (0, 72756)	0.1163406877356195
  (0, 15377)	0.1280892393411447
  (0, 73713)	0.14404125976020407
  (0, 57876)	0.17543759406274995
  (0, 60277)	0.12860340284160798
  (0, 25104)	0.17388177424136686
  (0, 76997)	0.11521069517292003
  (0, 18899)	0.18315759347854774
  (0, 13681)	0.12539197049825287
  (0, 55540)	0.1181586078432715
  (0, 1468)	0.185630325846892
  (0, 60159)	0.12967112243123463
  (0, 19283)	0.09919813721709127
  :	:
  (20362, 9257)	0.16385102728212494
  (20362, 8150)	0.2152611297628253
  (20362, 18636)	0.14652997485692135
  (20362, 39849)	0.14878939380827003
  (20362, 14241)	0.164437432938926
  (20362, 37224)	0.14472298284003493
  (20362, 59894)	0.1398347807421878
  (20362, 2060)	0.1490884094174965
  (20362, 10240)	0.16164680480925955
  (20362, 44032)	0.13702093410954552
  (20362, 32157)	0.11163900376674045
  (20362, 45925)	0.10950818844507403
  (20362, 17589)	0.12672121507119838
  (20362, 46674)	0.19457554720611436
  (20362, 5881)	0.09951876871289464
  (20362, 40799)	0.164437432938926
  (20362, 8124)	0.23727130210832448
  (20362, 2450)	0.15266897324020148
  (20362, 25932)	0.08453350852688783
  (20362, 16385)	0.09725775483777878
  (20362, 46666)	0.09636650692351825
  (20362, 79474)	0.07969343353732189
  (20362, 72923)	0.1302198545961984
  (20362, 45012)	0.06729576120355803
  (20362, 16615)	0.0886460322144592

In [9]:
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS

print(ENGLISH_STOP_WORDS)

frozenset({'not', 'should', 'where', 'last', 'themselves', 'is', 'of', 'below', 'latterly', 'system', 'within', 'well', 'whereas', 'beside', 'alone', 'when', 'see', 'next', 'bottom', 'few', 'after', 'they', 'in', 'towards', 'something', 'and', 'find', 'onto', 'together', 'out', 'anyhow', 'their', 'move', 'further', 'me', 'must', 'her', 'several', 'eg', 'why', 'there', 'everyone', 'throughout', 'could', 'hasnt', 'fire', 'bill', 'thru', 'since', 'whither', 'become', 'amoungst', 'a', 'still', 'it', 'both', 'own', 'so', 'sixty', 'becomes', 'found', 'was', 'nothing', 'least', 'over', 'three', 'or', 'per', 'five', 'more', 'had', 'although', 'empty', 'thereupon', 'nine', 'now', 'to', 'everywhere', 'the', 'those', 'hereafter', 'its', 'un', 'has', 'de', 'nevertheless', 'twelve', 'during', 'myself', 'amongst', 'twenty', 'between', 'almost', 'here', 'all', 'some', 'etc', 'others', 'thin', 'very', 'back', 'then', 'yourselves', 'nobody', 'be', 'my', 'somewhere', 'eleven', 'across', 'seemed', 'under', 'beforehand', 'four', 'front', 'fifty', 'being', 'nowhere', 'perhaps', 'on', 'until', 'as', 'ours', 'made', 'however', 'seeming', 'whether', 'too', 'these', 'were', 'your', 'even', 'take', 'am', 'again', 'detail', 'through', 'which', 'interest', 'wherein', 'with', 'none', 'ever', 'behind', 'yet', 'eight', 'wherever', 'whereupon', 'go', 'enough', 'give', 'hereupon', 'sometimes', 'any', 'due', 'another', 'sometime', 'thereby', 'ourselves', 'mine', 'an', 'that', 'besides', 'what', 'around', 'you', 'amount', 'con', 'cant', 'them', 'herself', 'no', 'us', 'otherwise', 'before', 'thence', 'somehow', 'most', 'once', 'at', 'therein', 'itself', 'whoever', 'indeed', 'will', 'himself', 'who', 'thereafter', 'about', 'either', 'into', 'cannot', 'therefore', 'upon', 'never', 'please', 'down', 'than', 'whole', 'serious', 'among', 're', 'hence', 'noone', 'thus', 'whereby', 'often', 'are', 'neither', 'much', 'moreover', 'beyond', 'forty', 'also', 'ltd', 'whatever', 'whence', 'former', 'third', 'whom', 'side', 'above', 'sincere', 'herein', 'many', 'couldnt', 'do', 'put', 'would', 'him', 'co', 'how', 'because', 'whenever', 'without', 'meanwhile', 'anything', 'might', 'his', 'one', 'seems', 'she', 'two', 'six', 'while', 'show', 'seem', 'along', 'inc', 'our', 'someone', 'yourself', 'can', 'rather', 'ie', 'part', 'latter', 'already', 'everything', 'whereafter', 'been', 'nor', 'such', 'afterwards', 'else', 'less', 'if', 'up', 'off', 'we', 'ten', 'became', 'but', 'call', 'fill', 'every', 'fifteen', 'anywhere', 'hundred', 'anyway', 'get', 'may', 'for', 'cry', 'hers', 'whose', 'always', 'elsewhere', 'done', 'other', 'namely', 'via', 'against', 'except', 'by', 'same', 'full', 'toward', 'mill', 'only', 'formerly', 'i', 'this', 'have', 'though', 'name', 'describe', 'hereby', 'mostly', 'keep', 'becoming', 'thick', 'anyone', 'yours', 'from', 'he', 'top', 'first', 'each'})

In [10]:
tfidf_matrix.shape

(20363, 81998)

In [11]:
from sklearn.metrics.pairwise import linear_kernel

cosine_similarities = linear_kernel(tfidf_matrix, tfidf_matrix)

In [12]:
cosine_similarities.shape

(20363, 20363)

In [13]:
cosine_similarities[0].shape

(20363,)

In [14]:
df = df.reset_index()
titles = df['title']
titles.shape

(20363,)

In [16]:
indices = pd.Series(df.index, index=df['title'])

In [17]:
def recommend(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_similarities[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:31]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

In [18]:
recommend('The Godfather').head(10)

15858     The Godfather: Part II
7198            Honor Thy Father
15604                 The Family
2415                  Blood Ties
8103          Johnny Dangerously
12940             Shanghai Triad
7638      In Memory of My Father
15859    The Godfather: Part III
9280                        Made
6034                        Fury
Name: title, dtype: object

In [20]:
recommend('The Lion King').head(10)

16630    The Lion King 2: Simba's Pride
1210                              Andre
16629                  The Lion King 1½
19867                        White Lion
2576                          Born Free
3350                       Chico Xavier
1925                      Becoming Jane
14243       Tarzan's Greatest Adventure
10347             Napoleon and Samantha
8433               King Solomon's Mines
Name: title, dtype: object